# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Renomeando colunas](#colunas)
4. [Renomeando índices](#indices)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy  as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  162.439348    3.364598   83.959322 -137.367560
B -131.240622   71.945029  -77.967268  -84.566044
C -150.024524   61.528159  137.001959   26.436605
D  203.366431  -17.243816 -103.208256    3.046020
E  -49.569178  -13.940410   23.021503  148.374249
F   13.330562  -14.725618 -222.394507  -62.667815
G -109.602005 -109.683970   64.977629  190.751876
H -200.751559  -25.892671 -208.867894   71.320143
I  -67.078758  145.770062   27.718541  207.408853

# 3. Renomeando colunas <a name="colunas"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [17]:
df.columns

Index(['coluna1', 'coluna2', 'coluna3', 'coluna4'], dtype='object')

In [3]:
df.columns = ['segunda', 'terça', 'quarta', 'quinta']

In [4]:
df.columns

Index(['segunda', 'terça', 'quarta', 'quinta'], dtype='object')

In [5]:
df

      segunda       terça      quarta      quinta
A  162.439348    3.364598   83.959322 -137.367560
B -131.240622   71.945029  -77.967268  -84.566044
C -150.024524   61.528159  137.001959   26.436605
D  203.366431  -17.243816 -103.208256    3.046020
E  -49.569178  -13.940410   23.021503  148.374249
F   13.330562  -14.725618 -222.394507  -62.667815
G -109.602005 -109.683970   64.977629  190.751876
H -200.751559  -25.892671 -208.867894   71.320143
I  -67.078758  145.770062   27.718541  207.408853

# 4. Renomeando índices <a name="indices"></a>
<div style="text-align: right"
     
    
[Voltar ao índice](#Contents)

In [6]:
df['coluna5'] = ['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']

In [9]:
df

      segunda       terça      quarta      quinta coluna5
A  162.439348    3.364598   83.959322 -137.367560  letraA
B -131.240622   71.945029  -77.967268  -84.566044  letraB
C -150.024524   61.528159  137.001959   26.436605  letraC
D  203.366431  -17.243816 -103.208256    3.046020  letraD
E  -49.569178  -13.940410   23.021503  148.374249  letraE
F   13.330562  -14.725618 -222.394507  -62.667815  letraF
G -109.602005 -109.683970   64.977629  190.751876  letraG
H -200.751559  -25.892671 -208.867894   71.320143  letraH
I  -67.078758  145.770062   27.718541  207.408853  letraI

In [12]:
df = df.set_index('coluna5')

In [14]:
df

            segunda       terça      quarta      quinta
coluna5
letraA   162.439348    3.364598   83.959322 -137.367560
letraB  -131.240622   71.945029  -77.967268  -84.566044
letraC  -150.024524   61.528159  137.001959   26.436605
letraD   203.366431  -17.243816 -103.208256    3.046020
letraE   -49.569178  -13.940410   23.021503  148.374249
letraF    13.330562  -14.725618 -222.394507  -62.667815
letraG  -109.602005 -109.683970   64.977629  190.751876
letraH  -200.751559  -25.892671 -208.867894   71.320143
letraI   -67.078758  145.770062   27.718541  207.408853

In [15]:
df.reset_index()

  coluna5     segunda       terça      quarta      quinta
0  letraA  162.439348    3.364598   83.959322 -137.367560
1  letraB -131.240622   71.945029  -77.967268  -84.566044
2  letraC -150.024524   61.528159  137.001959   26.436605
3  letraD  203.366431  -17.243816 -103.208256    3.046020
4  letraE  -49.569178  -13.940410   23.021503  148.374249
5  letraF   13.330562  -14.725618 -222.394507  -62.667815
6  letraG -109.602005 -109.683970   64.977629  190.751876
7  letraH -200.751559  -25.892671 -208.867894   71.320143
8  letraI  -67.078758  145.770062   27.718541  207.408853

In [16]:
df.reset_index(drop=True)

      segunda       terça      quarta      quinta
0  162.439348    3.364598   83.959322 -137.367560
1 -131.240622   71.945029  -77.967268  -84.566044
2 -150.024524   61.528159  137.001959   26.436605
3  203.366431  -17.243816 -103.208256    3.046020
4  -49.569178  -13.940410   23.021503  148.374249
5   13.330562  -14.725618 -222.394507  -62.667815
6 -109.602005 -109.683970   64.977629  190.751876
7 -200.751559  -25.892671 -208.867894   71.320143
8  -67.078758  145.770062   27.718541  207.408853